on:
  schedule:
    - cron: '0 15 * * *'
  workflow_dispatch:

jobs:
  weekly-collection:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: source scripts/sync.sh
      - run: python scripts/process.py
      - id: diff
        run: |
          if git diff --exit-code; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
      - if: ${{ steps.diff.outputs.changed == 'true' }}
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add -A
          git commit -m "updates chats"
          git push
